.aside {
  min-width: 350px;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  border-right: 1px solid #333;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 2000;
  width: 0px;
  min-width: 0px;
  overflow: hidden;
  transition: 0.35s width ease, 0.35s min-width ease; }
  .aside .aside-header {
    background-color: red;
    padding: 1em;
    padding-left: 0.5em;
    border-bottom: 1px solid #c20000;
    font-size: 1.2em;
    color: black; }
    .aside .aside-header .close {
      float: right;
      cursor: pointer; }
  .aside .aside-contents {
    padding: 0.5em;
    padding-bottom: 1em; }
  .aside.in {
    width: 15%;
    min-width: 350px; }

.aside-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
  transition: 0.2s opacity ease;
  opacity: 0;
  display: none; }
  .aside-backdrop.in {
    display: block;
    opacity: 0.5; }

body {
  background: #EEE; }
